@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Satisfy&display=swap');
/* Estilos para el enlace de contacto */
.Contacto {
  font-family: 'Dancing Script', cursive;
  position: relative;
  transition: transform 0.3s ease;
  font-family: 'Times New Roman', Times, serif;
}
  
.Contacto:hover {
    transform:scale3d(1,1)

  }
  
  /* Otros estilos para el banner y el resto de la página */
  /* ... */
/* Estilos para la barra de navegación */
.pestaña {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    background: linear-gradient(to right, #8B4513, #FFA500);
  }
  
  .pestaña ul {
    padding: 0;
    list-style: none;
  }
  
  .pestaña ul li {
    display: inline;
    margin: 0 10px;
  }
  
  .pestaña ul li a {
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    text-align: right;
    transition: transform 0.3 ease;
  }

  .pestaña:hover ul li a {
    transform: scale(1,1);
  }
  
  /* Estilos para la sección de presentación */
  .presentacion {
    display: flex;
    text-align: left;
    margin-top: 20px;
    background-color: black;
  }
  
  .presentacion img {
    max-width: 100%;
    height: auto;
    background-color: black;

  }
  
  /* Estilos para el menú */
.menu {
    text-align: center;
    margin-top: 20px;
    font-family: 'Satisfy', cursive;
  }

  .menu_prob
    {
      color: white;
    }
  
  /* Estilos para el banner de productos */
.banner {
  display: flex;
  background-color: #f2f2f2;
  padding: 4px;
  border-radius: 50px;
  align-items: baseline;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family:'Satisfy';

  }
  
  .producto {
    flex-basis: calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    transition: all 0.3s ease; /* Transición suave de 0.3 segundos */
    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  .producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    transition: all 0.3s ease; /* Transición suave de 0.3 segundos */
    max-height: 200px; /* Establecer un tamaño máximo para las imágenes */
  }
  
  .producto h3 {
    margin-bottom: 5px;
  }
  
  .producto p {
    font-weight: bold;
  }
  
  /* Aplicar estilos al hacer hover sobre el producto */
  .producto:hover {
    transform: scale(1.1); /* Aumentar el tamaño al hacer hover */
    opacity: 1; /* Hacer el producto completamente visible al hacer hover */
  }
  
  .producto:hover img {
    filter: brightness(100%); /* Mantener la imagen con brillo normal al hacer hover */
  }
  /* Estilos para el botón de Amazon */
  .amazon-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .amazon-button:hover {
    background-color: #0062cc;
  }
  /* Estilo del precio */

  .precio {
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    background-color: #ffca07;/*amarillo*/
    color: #fff;/*Blanco*/
    border-radius: 20px; /* Borde redondeado */
    padding: 5px 15px; /* Espaciado interno */
    margin-top: 10px; /* Espaciado superior */
    font-weight: bold; /* Texto Negrita */
    transition: all 0.3s ease; /* ransicion Suave de 0.3 Segundo */
  }

  .producto:hover .precio {
      background-color: #fd3e0e; /* Cambia el color al hacer hover */
    }
/* Checking de Contacto */
.validacion {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-left: 10px;
}

.valido {
  background-color: #4CAF50; /* Verde */
  border-color: #4CAF50;
}
.franja_inferior
{
  height: 20px;
  background: linear-gradient(to right, #8B4513, #FFA500);
}