@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

section {
    padding: 50px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#productBanner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    flex-direction: row;
    align-items: stretch;
  }

  .product-item {
    border: 1px solid gray;
    box-shadow: 4px 1px 5px 0px rgba(0,0,0,0.25);
    border-radius: 8px;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 15px;
    height: auto;
    transition: .3s all;
    box-sizing: border-box;
  }
  
  .product-item.m-click,
  .product-item.m-click:visited,
  .product-item.m-click:focus,
  .product-item.m-click:target {
    text-decoration: none;
  }
  
  .product-item.m-click:hover {
    transform: scale(1.01);
    box-shadow: 4px 1px 42px 0px rgba(0,0,0,0.35);
  }
  
  .product-item_content p, .product-item_content b {
    color: black;
  }
  
  .product-item:hover .product-item_content a {
    opacity: 1;
  }
  
  .product-item_img {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    border-radius: 8px;
    
  }
  
  .product-item_content {
    padding: 16px;
  }
  
  .product-item_content h4 {
    font-size: 18px;
    color: gray;
  }
  
  
  .product-item_content a {
    background-color: blue;
    text-decoration: none;
    color: white;
    padding: 6px 10px;
    border-radius: 8px;
    transition: .3s all;
    margin-bottom: 15px;
    opacity: 0;
  }
  
  .product-item_content a:hover {
    opacity: 1;
  }
 
  .redesociales {
    width: 20px;
    height: 20px;
  }

#presentacion {
  display: flex;
  width: 1000px;
  height: 800px;
  justify-content: center;
  align-items: center;
  
}

#pre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.eslogan {
  display: flex;
  align-content: center;
  justify-content: center;
 
}

#titleProduct {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

#testimonios {
  padding: 50px;
  text-align: center;
}

.testimonio {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.testimonio p {
  font-size: 16px;
  color: #555;
}

.testimonio .cliente {
  font-style: italic;
  margin-top: 10px;
  color: #888;
}

#about {
  padding: 50px;
  text-align: justify;
}

#about h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

#about p {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

#title {
  justify-content: left;
  font-style: italic;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;

}

#registro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  color: white;
  padding: 6px 10px;
  border-radius: 8px;
  text-decoration: none;
  margin-bottom: 15px;

}
